
.keyboard_output {
	width: 844px;
	height: 150px;
	border: 2px solid black;
	border-radius: 10px;
}

.keyboard_body {
	width: 844px;
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	flex-wrap: wrap;
	border: 2px solid black;
	border-radius: 10px;
}

.langEngToRu {
	width: 844px;
	height: 30px;
	border: 2px solid black;
	border-radius: 10px;
	margin-top: 6px;
	color: gray;        
	text-align: center;
	padding-top: 6px;
}

/*-------------------------BUTTONS----------------------------*/
.square_grey {
	width: 50px;
	height: 50px;
	color: white;
	font-size: 15px;
	border: 3px solid black;
	border-radius: 5px;
	background: gray;
	margin: 2px;

}
.square_black {
	width: 50px;
	height: 50px;
	color: white;
	font-size: 15px;
	border: 3px solid black;
	border-radius: 5px;
	background: black;
	margin: 2px;
}

.rectangle-small_black {
	width: 70px;
	height: 50px;
	color: white;
	font-size: 15px;
	border: 3px solid black;
	border-radius: 5px;
	background: black;
	margin: 2px;
}

.rectangle-big_black {
	width: 120px;
	height: 50px;
	color: white;
	font-size: 15px;
	border: 3px solid black;
	border-radius: 5px;
	background: black;
	margin: 2px;
}

.rectangle-spase_grey {
	width: 340px;
	height: 50px;
	color: white;
	font-size: 15px;
	border: 3px solid black;
	border-radius: 5px;
	background: gray;
	margin: 2px;
}

.square_grey:active {
	border: 3px solid blueviolet;
	color: yellow;
}
.square_black:active {
	border: 3px solid blueviolet;
	color: yellow;
}
.rectangle-small_black:active {
	border: 3px solid blueviolet;
	color: yellow;
}
.rectangle-big_black:active {
	border: 3px solid blueviolet;
	color: yellow;
}
.rectangle-spase_grey:active {
	border: 3px solid blueviolet;
	color: yellow;
}

.active {
	border: 3px solid blueviolet;
	color: yellow;
}
